@font-face {
  font-family: "SauceTomato";
  src: url("../../assets/fonts/sauceTomato/sauceTomato.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* margin-left: 30rem; */
    /* background-image: url('/src/assets/images/l.png'); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    
}
.auth-bg {
    background-image: url('/src/assets/images/l.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.login-container {
    max-width: 500px;  
    width: 90%;        
    padding: 25px;     
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(28, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* margin-right: 29rem; */
    text-align: center;
}


.signup-container {
    max-width: 500px;
    width: 90%;             
    padding: 25px;          
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(28, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;     
    /* margin: 0 auto;          */
}

body {
    /* font-family: Arial, sans-serif;  */
    /* background-image: url('/src/assets/images/l.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    /* background-color: #FAF4E9; */
}
.success-container { 
    text-align: center;
 }

.signup-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #13272e;
    font-size: 2.5rem;
    font-family: "SauceTomato", serif;
}

.success-title {
    color: #28a745;
}

.success-message {
    margin-top: 20px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    /* width: 90; */
    padding: 17px;
    margin: 12px 0;
    border: 2px solid #244855;
    border-radius: 1rem;
    font-size: 16px;
}

.form-input:focus {
    outline: none;
    border-color: #e26a00;
}

.error-message {
    color: red;
    margin: 10px 0;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background: #e26a00;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    font-family: SauceTomato;
}

.submit-button:hover:not(:disabled) {
    background: #ff9940;
}

.submit-button:disabled {
    background: #f6ae70;
    cursor: not-allowed;
}

.login-link {
    margin-top: 20px;
    text-align: center;
    color:white;
    font-size: 20px;
    /* font-weight: 2px; */
}

.login-link a {
    color: #e26a00;
    text-decoration: none;
    /* font-weight: 2rem; */
}

.login-link a:hover {
    text-decoration: underline;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
    color: #e26a00;
    font-size: 20px;
    /* font-weight: 2px; */
}

.signup-link a {
    color: #244855;
    text-decoration: none;
    /* font-weight: 2rem; */
}

.signup-link a:hover {
    text-decoration: underline;
}