@font-face {
  font-family: "SauceTomato";
  src: url("../../assets/fonts/sauceTomato/sauceTomato.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* PAGE BACKGROUND */
.welcome-container {
  min-height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Remove vertical centering */
  display: block;

  font-family: "SauceTomato", serif;
}

/* CONTENT */
.welcome-content {
  /* margin-top: 10px;       */
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: right;   /* center horizontally */
  z-index: 2;
}

.welcome-title {
  font-size: 4rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0;
  margin-right: 50px;
  margin-top: 10rem;
}

.welcome-title .accent {
  color: #e26a00;
  
}

.welcome-text1 {
  font-size: 1.3rem;
  margin-top: 0px;
  color: #e26a00;
  margin-right: 100px;
  /* padding: 0px ; */
  /* font-weight: 5; */
  
  
}
.welcome-text2{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    /* margin-top: 20px; */
    margin-top: 0px;
    /* margin-left: 10rem; */
    margin-left: 55rem;
    margin-right: 8rem;
    color: white;
    margin-bottom: 40px;
    font-weight: 300;
    text-align: left;

    
}

/* BUTTONS */
.btn-group {
  /* margin-top: px; */
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 50px;
  font-weight: 300;
  align-items: right; 
  text-align: right;
  margin-left: 47rem;
}

.btn-primary {
  background: #e26a00;
  font-size: 1.5rem;   
  font-weight: 300;    
  letter-spacing: 0.3px;
  color: white;
  padding: 15px 40px;
  border-radius: 35px;
  /* font-size: 1rem; */
  /* font-weight: 10; */
  text-decoration: none;
  /* border: 3px solid #00324a; */
  align-items: right; 
  text-align: right;
}

.btn-outline {
  border: 3px solid #e26a00;
  padding: 15px 40px;
  border-radius: 35px;
  color: #e26a00;
  font-size: 1.5rem;

  background: transparent;
  /* font-weight: 50; */
  align-items: right; 
  text-decoration: none;
}
